# R and IDE
.Rproj.user
**/.Rhistory
*.Rproj

# OS
**/.DS_Store

# README knit cache and output
README_cache/
README_files/
*.html

# Package build artifacts
*.o
*.so
*.dll
*.tar.gz
*.zip
.Rcheck/
..Rcheck/